.header{
    display: grid;
    grid-template-columns: .2fr 1.5fr 1fr;
    justify-content: center;
    background-color:#EAE0CF;
}

body{
    margin: 0;
    background-color: #547792;
    
}
ul>li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
a.currentPage{
    text-decoration: underline;
}
.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.companyTitle{
    font-size: large;
}
.nav{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10%;
    margin-right: 5%;
}
.nav-mobile{
    display: none;
}

.mobile-only-button{
    display:none;
}
.desktop-only-button{
    display:inline;
}