.CTA-container{
    
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
}
.CTA-text{
    background-color:#EAE0CF;
    font-size: larger;
    height: 40vh;
    padding: 2rem;
    width: 300px;
    max-width: 100%;
    text-align: center;
    border-radius: 10px;
}
.CTA-image{
    height: 60vh;
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.button{
    background-color: #94B4C1;
    border:none;
    color: black;
    font-weight: bolder;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size:16px;
    margin: 40px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color .3s;
}
.mobile-only-button{
    display:inline;
}
.desktop-only-button{
    display:none;
}
@media(max-width:800px){
    .CTA-container{
        display: flex;
        flex-direction: column;
    }
}
