.CTA-container{
    margin-top: 10vh;
    margin-bottom: 5vh;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:50px;
    
}
.CTA-text{
    background-color:#EAE0CF;
    display: inline-block;
    padding:50px 20px;
    width: 300px;
    height: 50%;
    border-radius: 10px;
    text-align: center;
    align-self: center;
    justify-self: end;
    justify-content: center;
}
.CTA-image{
    height: 500px;
    border-radius: 50px;
}
.button{
    background-color: #94B4C1;
    border:none;
    color: black;
    font-weight: bolder;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size:16px;
    margin: 40px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color .3s;
}
.mobile-only-button{
    display:none;
}
.desktop-only-button{
    display:inline;
}
.strengthsContainer{
    background-color: #EAE0CF;
    padding-top: 2.5%;
    padding-bottom: 5%;
}
.strengthPoints{ 
    height:40vh;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
      
}
.strengthPoints>li{
    text-align: center;
    width: 500px; 
    padding-left: 5%;
    padding-right: 5%;
}


.servicesPreview{
    
    color: #EAE0CF;
    padding-bottom: 10vh;
    display: grid;
    grid-template-rows: .1fr .5fr;
    text-align: center;
}

.services-header{
    font-size: 45px;
    border:5px solid #333;
    margin-top: 100px;
    padding: 0px 200px 50px 200px;
    margin-bottom: 100px;
    text-align: center;
}
.services-header>h3{ 
    font-size:large
}
.services-panel{
    padding-bottom: 100px;
    padding-left: 75px;
    padding-right: 150px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.services-panel>li{
    height:400px;
}
.services-panel>li>img{
    height:300px;
    width:300px;
    border-radius: 50%;
}

.service-area-list{
    margin-top: 15vh;
    display: flex;
    flex-direction: column;

}


.service-list-header{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-basis: content;
    margin-bottom: 5vh;
    padding: 10px;
    border: 3px solid #333; 
}

.locations>li{
    padding-bottom: 20px;
}


.services-button{
    background-color: #EAE0CF;
}

.test-header{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: x-large;
    background-color: #EAE0CF;
}
.test-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10vh;
}

.slideshow-container {
  max-width: 400px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.mySlides>img{
    height:500px;
    width: 400px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



footer{
    background-color: #EAE0CF;
    padding: 2.5vh;
    text-align: center;
    height: 5vh;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}


.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
 
}

@media(min-width:800px) and (max-width:1150px){
    .servicesPreview{
        display: block;
    }
    .services-header{
    font-size: 30px;
    border:5px solid #333;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    padding: 0;
    }
    .services-panel{
    display: block;
    }
    .services-panel>li{
    padding-bottom: 100px;
    }

}

@media(max-width:800px){


.CTA-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.CTA-text{
    background-color:#EAE0CF;
    display: inline-block;
    padding:50px 20px;
    width: 400px;
    height: 50%;
    border-radius: 10px;
}
.CTA-image{
    padding-top: 1rem;
}

.strengthsContainer{
    background-color: #EAE0CF;
    padding-top: 5%;
}
.strengthPoints{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.strengthPoints>li{
    width: auto;
    text-align: start;
}

.servicesPreview{
    display: block;
}
.services-header{
    font-size: 30px;
    border:5px solid #333;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    padding:0;
    
}
.services-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.services-panel>li{
    
    padding-bottom: 100px;
}

.locations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-only-button{
    display:inline;
}
.desktop-only-button{
    display:none;
}
}