.CTA-container{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
}
.CTA-text{
    background-color:#EAE0CF;
    font-size: larger;
    height: 40vh;
    padding: 2rem;
    width: 300px;
    max-width: 100%;
    text-align: center;
    border-radius: 10px;
}
.button{
    background-color: #94B4C1;
    border:none;
    color: black;
    font-weight: bolder;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size:16px;
    margin: 40px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color .3s;
}
.mobile-only-button{
    display:none;
}
.desktop-only-button{
    display:inline;
}
.CTA-image{
    height: 60vh;
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.strengthsContainer{
    background-color: #EAE0CF;
    margin-top: 2%;
    padding-top:2.5%;
    padding-bottom: 5%;
}
.strengthPoints{
    height:40vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap:5%;
}
.strengthPoints>li{
   margin: 5%;
}
.strengthPoints>li>p{
    height: 50%;
    flex-basis: 200px;
    font-size: large;
}

.servicesPreview{
    color: #EAE0CF;
    margin-top: 2.5%;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.services-header{
    font-size: 30px;
    border:5px solid #333;
    padding: 0px 10% 2.5% 10%;
    margin-bottom: 5%;
}
.services-header>h3{ 
    font-size:large;
    width: 400px; 
    flex-basis: 200px;   
}
.services-panel{
    padding: 0;
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: start;
    gap:10%;
}
.service-title{
    font-size: x-large;
}
.services-panel>li>p{
    text-align: start;
    width: 300px;
}
.services-panel>li>img{
    border-radius: 100%;
}
.service-area-list{ 
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
}
.service-list-header{
    margin-bottom: 5vh;
    padding: 10px;
    border: 3px solid #333;
    flex-basis: content;
}
.locations{
    padding: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.locations>li{
    padding-bottom: 5%;
}
.testimonials{
    margin: 0;
    padding: 0;
    
    
}
.test-text{
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.test-text>li{
    padding-bottom: 5%;
    
}

.slideshow-container {
  max-width: 400px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.mySlides>img{
    height:500px;
    width: 400px;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}




footer{
    margin-top: 5%;
    background-color: #EAE0CF;
    padding: 2.5vh;
    text-align: center;
    height: 5vh;
}

@media(max-width:800px){
    
    .CTA-container{
        display: flex;
        flex-direction: column;
    }
    .strengthPoints{
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        text-align: start;
    }
    .services-panel{
        height: fit-content;
        display: flex;
        flex-direction: column;
    }
    .services-header>h3{ 
        width: 100%; 
    
    }
    .services-panel>li{
        padding-bottom: 10%;
    }
    .slideshow-container {
        max-width: fit-content;
    }
    .mySlides>img{
    height:500px;
    width: 100%;
    }
    .test-text{
        width: 80%;  
    }
.mobile-only-button{
    display:inline;
}
.desktop-only-button{
    display:none;
}
}