* {box-sizing:border-box}

.intro{
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #EAE0CF;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.intro-button{
  background-color: #94B4C1;
  height: 4rem;
  font-weight: 900;
  font-size: larger;
  border-radius: 8px;
  cursor: pointer;
}



.services{
    margin: 0;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

}


.services-header{
   padding-bottom: 10vh;
   background-color: #EAE0CF;
   border:5px solid #333;
   padding: 0px 10% 0% 10%;
    margin-bottom: 5%;
}

.service-holder{
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.card{
  padding-bottom: 2.5%;
   display: flex;
   overflow-wrap: break-word;
   
}

.bathtub-finish{
  padding: 0;
}
.service-description{
  padding: 1rem;
  border-radius: 4px;
  max-width: 600px;
  text-align: left;
  background-color: #EAE0CF;
}





/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
  padding-bottom: 10%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}



/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position:absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  background-color: rgba(128, 128, 128, 0.372);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev{
    left: 0;
    border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


 


.bnfMain{
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.beforeandaftercontainer{
  display: grid;
  place-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  --position:50%;
}

.bnf-image-container{
  max-width: 800px;
  max-height: 70vh;
}

.slider-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.bnf-image-container>img{
  display: block;
  max-width: 100%;
}

.before{
  position:absolute;
  inset:0;
  width:var(--position);
}

.slider{
  position: absolute;
  inset:0;
  cursor:pointer;
  opacity: 0;
  width:100%;
  height: 100%;
}

.slider:focus-visible ~ .slider-button{
  outline: 5px solid black;
  outline-offset: 3px;
}
.slider-line{
  position: absolute;
  inset:0;
  width: .2rem;
  height:100%;
  background-color: #fff;
  z-index: 10;
  left:var(--position);
  transform: translateX(-50%);
  pointer-events: none;
}

.slider-button{
  position: absolute;
  background-color: #fff;
  color:black;
  padding: .5rem;
  border-radius: 100vw;
  display:grid;
  place-items: center;
  top:50%;
  left: var(--position);
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 100;
  box-shadow: 1px 1px 1px hsl(0, 50%, 2%, .5);
}

@media(max-width:800px){
   .service-description{
  max-width: 400px;
  }
  .card{
   padding-bottom: 10%;
   display: flex;
   overflow-wrap: break-word;
   
  }
.bathtub-finish{
  padding: 0;
  }
}

@media(max-width:400px){
   .slider-image{
    width: 300px;
    height: 300px;
   }
}